---
layout: archive
title: "PhD Workshop in Labor and Behavioral Economics"
permalink: /behaviorallabor/
author_profile: true
---

{% if site.talkmap_link == true %}

**PhD Workshop in Labor and Behavioral Economics** <br/> 
June 8/9, 2026 <br/> 

Center for Economic Behavior and Inequality (CEBI) <br/> 
University of Copenhagen <br/> 

Call for Papers can be found here: [Link](https://sites.google.com/view/behaviorallabor/call-for-papers-2026?authuser=0) <br/>  <br/> 

Keynote Speakers: Ingar Haaland (NHH), Benjamin Schoefer (UC Berkeley) <br/> 

Organizers: Simon Cordes (University of Bonn), Ida Maria Hartmann (University of Copenhagen), Valentin Kecht (University of Bonn), Malte Jacob Rattenborg (University of Copenhagen) <br/> 

Submission Deadline: January 31, 2026 (23:59 EST) <br/> 

Notification of Acceptance: February 28, 2026 <br/> 


**About the Workshop**  <br/> 
The workshop aims to encourage new research at the intersection of behavioral and labor economics. Its goal is to provide a platform for PhD students and recent graduates to present their research and receive feedback on their work. Contributions from all areas and applications of behavioral and labor economics are welcome, including empirical and theoretical research. The workshop targets current PhD students and early-career researchers who have graduated in 2025 or later and are working as postdocs and assistant professors, or equivalent.  <br/> 


Costs  <br/> 
The conference will be hosted and sponsored by CEBI. There is no conference fee. Conference meals will be covered for all invited participants. Participants are responsible for their own travel and accommodation expenses.  <br/> 

For questions and comments, please contact organizersbehaviorallabor@gmail.com.


{% endif %}

{% for post in site.talks reversed %}
  {% include archive-single-talk.html %}
{% endfor %}
